.home {

    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    .imgHome {

        width: 100%;
        height: 700px;

    }


}

@media (max-width: 900px){

    .home{
        
        margin-right: 0%;
    }
}

@media (max-width: 500px){

    .home{
        
        margin-right: 0%;
    }

    .imgHome {

        width: 95%;
        height: 200px;

    }
}

