.CardItem {

    justify-content: center;
    height: max-content auto;
    width: 300px;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 50px;


    img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        /*
        -webkit-box-shadow: 3px 0px 24px 5px rgba(0, 0, 0, 0.73);
        box-shadow: 3px 0px 24px 5px rgba(0, 0, 0, 0.73);*/

    }

    #cardTitle {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 10px;
        font-family: 'augustus';
        font-weight: 400;
    }

    p {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 10px;
        font-family: 'augustus';

    }

    a {

        text-decoration: none;

        .btn-vermas {
            display: flex;
            width: 100%;
            justify-content: center;
            background-color: rgba(128, 255, 0, 0.295);
            border: none;
            border-radius: 5px;
            margin-left: 25px;
            color: rgb(5, 110, 14);
            font-size: 1rem;
            font-family: 'augustus';

            &:hover {
                display: block;
                background-color: rgba(128, 255, 0, 0.158);


            }
        }
    }


}

@media (max-width:400px) {

    .CardItem {
        p {
            margin-left: 0px;

        }
    }

}


@media (max-width:300px) {

    .CardItem {

        a {
            .btn-vermas {
                margin-left: 0px;
            }

        }

        #cardTitle {
            justify-content: center;
            margin-left: 0px; 
            margin-top: 0px; 
           
            
        }

        p {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            margin-left: 55px;
            margin-top: 10px;
            font-family: "augustus";
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            margin-left: 0px;


        }

    }

}