.cartWidget{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    margin: 25px;
    margin-right: 50px;
    left: 90%;
   
   svg{
    color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
   }

   span{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
   }
}

@media (max-width: 900px) {
    .cartWidget{
        left: 85%;
    }
}


@media (max-width: 600px) {
    .cartWidget{
        left: 80%;
    }
}

@media (max-width: 450px) {
    .cartWidget{
        left: 75%;
    }
}

@media (max-width: 350px) {
    .cartWidget{
        left: 70%;
    }
}