.containerView {

    display: flex;
    width: 100%;
    border-top: 1px solid;
    border-color: chartreuse;

    .tittleImage {


        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            margin-bottom: 25px;
            margin-top: 10px;
            border-color: $c1;
            font-family: 'augustus';

        }

        img {
            width: 500px;
            height: 400px;
            border-radius: 50px;
            margin-left: 50px;
        }
    }

    .description {
        display: flex;
        width: 80%;
        flex-flow: row wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 100px;
        margin-right: 100px;


        h4 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 50px;
            font-size: 2rem;
            margin-bottom: 25px;
            border-bottom: solid 3px;
            border-color: $c1;

        }

        p {
            display: flex;
            text-align: justify;
            height: 400px;
            width: 100%;
            width: fit-content;
            font-size: 1.25rem;
            font-family: 'cherry';


        }

        .btn-whatsapp {
            display: flex;
            width: 50%;
            justify-content: center;
            background-color: rgba(128, 255, 0, 0.295);
            border: none;
            border-radius: 5px;
            margin-left: 25px;
            color: rgb(5, 110, 14);
            font-size: 1rem;
            font-family: 'augustus';
            
            &:hover{
                display: block;
                background-color: rgba(128, 255, 0, 0.158); }
               


        }
    }

}