* {
    margin: 0px;

}

:root {
    background: #FFFFFF;
    background: -moz-linear-gradient(-45deg, #FFFFFF 0%, #F5F5F5 24%, #CECECE 100%);
    background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #F5F5F5 24%, #CECECE 100%);
    background: linear-gradient(135deg, #FFFFFF 0%, #F5F5F5 24%, #CECECE 100%);
}

@font-face {
    font-family: 'augustus';
    src: url('../fuentes/AUGUSTUS.TTF');

    font-family: 'cherry';
    src: url('../fuentes/Cherry\ Monospace-Light.ttf');

}


$c1: #404486;
$c2: #27ca18;