.logoFoo {
    display: flex;
    

}

.imgLogoFoo{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}


@media (max-width: 650px){

    .imgLogoFoo{
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }
    .logoFoo {
        display: flex;
        align-items: center;
        
    
    }
}

@media (max-width: 500px){

   
    .logoFoo {
        display: none;
        
    
    }
}

